/* Tooltips */

/* usrpopout */
.avatar-2Vndt_.wrapper-1VLyxH::before {
	display: none; animation: anim .5s forwards;
	background: var(--tooltip-background);
	content: var(--tooltip); color: var(--tooltip-color);
	border-radius: var(--tooltip-radius);
	font-size: 12px; position: absolute;
	margin-top: 35px; margin-left: -5px;
	opacity: 0; z-index: 2 !important;
	padding: 5px 10px;
}

/* usrmodal */
.avatar-3QF_VA.wrapper-1VLyxH::before {
	display: none; animation: anim .5s forwards;
	background: var(--tooltip-background);
	content: var(--tooltip); color: var(--tooltip-color);
	border-radius: var(--tooltip-radius);
	font-size: 12px; position: absolute;
	margin-top: 75px; margin-left: 5px;
	opacity: 0; z-index: 2 !important;
	padding: 5px 10px;
}

/* Settings */
.avatar-3mTjvZ.wrapper-1VLyxH::before {
	display: none; animation: anim .5s forwards;
	background: var(--tooltip-background);
	content: var(--tooltip); color: var(--tooltip-color);
	border-radius: var(--tooltip-radius);
	font-size: 12px; position: absolute;
	margin-top: 35px; margin-left: -5px;
	opacity: 0; z-index: 2 !important;
	padding: 5px 10px;
}

/* Chat */
#app-mount .avatar-2e8lTP:hover + h2::after {
	border: none !important; font-size: 12px; position: absolute;
	content: var(--tooltip); color: var(--tooltip-color);
	width: auto !important; height: 20px !important;
	z-index: 2 !important; padding: 5px 10px;
	background: var(--tooltip-background);
	border-radius: var(--tooltip-radius);
 	animation: anim .5s forwards;
	margin-left: -65px;
	margin-top: -8px;
}



.avatar-3mTjvZ.wrapper-1VLyxH:hover::before,
.avatar-3QF_VA.wrapper-1VLyxH:hover::before,
.avatar-2Vndt_.wrapper-1VLyxH:hover::before {
	opacity: 1 !important; display: block !important;
}

/* Keyframes */
@keyframes anim {
	from {
		left: 5px; top: 35px; opacity: 0; display: none;
	}

	to {
		left: 10px; top: 40px; opacity: 1; display: block;
	}
}
