[class*="avatar-"] + h2 {
	overflow: visible !important;
}

/* usrpopout */
.avatar-2Vndt_.wrapper-1VLyxH:hover::after {
	text-shadow: -1px 0 var(--tooltip-shadow-color), 0 1px var(--tooltip-shadow-color), 1px 0 var(--tooltip-shadow-color), 0 -1px var(--tooltip-shadow-color);
	border: var(--tooltip-border) !important; font-size: 12px; position: absolute;
	width: var(--tooltip-width) !important; height: 12px !important;
	-webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.15);
	content: var(--tooltip); color: var(--tooltip-color);
	background: var(--tooltip-background) center/cover;
	box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.15);
	z-index: 2 !important; padding: 5px 10px;
	border-radius: var(--tooltip-radius);
	margin-top: 35px; margin-left: -5px;
	transition: all 0.1s ease-in-out;
 	animation: anim .5s forwards;
	

}

/* usrmodal */
.avatar-3QF_VA.wrapper-1VLyxH:hover::after {
	text-shadow: -1px 0 var(--tooltip-shadow-color), 0 1px var(--tooltip-shadow-color), 1px 0 var(--tooltip-shadow-color), 0 -1px var(--tooltip-shadow-color);
	border: var(--tooltip-border) !important; font-size: 12px; position: absolute;
	width: var(--tooltip-width) !important; height: 12px !important;
	-webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.15);
	content: var(--tooltip); color: var(--tooltip-color);
	background: var(--tooltip-background) center/cover;
	box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.15);
	z-index: 2 !important; padding: 5px 10px;
	border-radius: var(--tooltip-radius);
	margin-top: 75px; margin-left: 5px;
	transition: all 0.1s ease-in-out;
 	animation: anim .5s forwards;
}

/* Settings */
.avatar-3mTjvZ.wrapper-1VLyxH:hover::after {
	text-shadow: -1px 0 var(--tooltip-shadow-color), 0 1px var(--tooltip-shadow-color), 1px 0 var(--tooltip-shadow-color), 0 -1px var(--tooltip-shadow-color);
	border: var(--tooltip-border) !important; font-size: 12px; position: absolute;
	width: var(--tooltip-width) !important; height: 12px !important;
	-webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.15);
	content: var(--tooltip); color: var(--tooltip-color);
	background: var(--tooltip-background) center/cover;
	box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.15);
	z-index: 2 !important; padding: 5px 10px;
	border-radius: var(--tooltip-radius);
	margin-top: 35px; margin-left: -5px;
	transition: all 0.1s ease-in-out;
 	animation: anim .5s forwards;
}

/* Chat */
#app-mount .avatar-2e8lTP:hover + h2::after {
	text-shadow: -1px 0 var(--tooltip-shadow-color), 0 1px var(--tooltip-shadow-color), 1px 0 var(--tooltip-shadow-color), 0 -1px var(--tooltip-shadow-color);
	border: var(--tooltip-border) !important; font-size: 12px; position: absolute;
	content: var(--tooltip); color: var(--tooltip-color);
	background: var(--tooltip-background) center/cover;
	width: unset !important; height: 20px !important;
	z-index: 2 !important; padding: 5px 10px;
	border-radius: var(--tooltip-radius);
 	animation: anim .5s forwards;
	margin-left: -65px;
	margin-top: -8px;
}

/* Keyframes */
@keyframes anim {
	from {
		left: 5px; top: 35px; opacity: 0; display: none;
	}

	to {
		left: 10px; top: 40px; opacity: 1; display: block;
	}
}
