*[class*="avatar-"][src*='938557606820204625'] + h2::after,
*[aria-label^="ItsJustJoshDev"],
*[src*='938557606820204625'] {

	--user-badge-alternate: url("https://cdn.discordapp.com/emojis/884565650360651806.webp?size=44&quality=lossless");
	--user-badge-secondary: url("https://cdn.discordapp.com/emojis/697190643700859053.webp?size=96&quality=lossless");
	--user-badge: url("https://itsjustjoshdev.github.io/src/assets/favcon/crown.png");
	--badge-radius: 6px;

	/* usrpopout stuff */
	--size-extra: 20px;

	--tooltip-background: var(--user-accent);
	--tooltip-color: var(--header-primary);
	--tooltip-radius: 6px;
	--tooltip: "Banned Again Lamo";

	--user-accent: rgb(201, 174, 98);

}

*[class*="avatar-"][src*='750781478991954031'] + h2::after,
*[aria-label^="Joshua Malava"],
*[src*='750781478991954031'] {

	--user-badge-alternate: url("https://cdn.discordapp.com/emojis/884565650360651806.webp?size=44&quality=lossless");
	--user-badge-secondary: url("https://cdn.discordapp.com/emojis/697190643700859053.webp?size=96&quality=lossless");
	--user-badge: url("https://itsjustjoshdev.github.io/src/assets/badges/709808106070081567.png");
	--badge-radius: 0px;

	/* usrpopout stuff */
	--size-extra: 20px;

	--tooltip-background: var(--user-accent);
	--tooltip-color: var(--header-primary);
	--tooltip-radius: 6px;
	--tooltip: "a Very Horny Person";

	--user-accent: rgb(199, 128, 187);

}

*[class*="avatar-"][src*='865632950443835392'] + h2::after,
*[src*='865632950443835392'],
*[aria-label^="Wme"] {

	--user-badge: url("https://discord.com/assets/b4389a07796a128a9e86e28e7f6df386.svg");
	--badge-radius: 0px;

	--tooltip-background: var(--user-accent);
	--tooltip-color: var(--header-primary);
	--tooltip-radius: 6px;
   	--tooltip: "Extreme Gay";

    	--user-accent: rgb(163,47,194);

}
