#app-mount .avatar-2e8lTP[src*='938557606820204625'] + h2::after,
*[aria-label^="ItsJustJoshDev"],
*[src*='938557606820204625'] {

	--user-badge: url("https://itsjustjoshdev.github.io/src/assets/favcon/crown.png"); /* Supports SVGs */
	--badge-border: 3px solid var(--background-floating);
	--badge-accent: none; /* Badge Color For SVGs */
	--badge-background: var(--background-floating);
	--badge-radius: 6px;

	--tooltip-background: var(--user-accent);
	--tooltip-color: var(--header-primary);
	--tooltip-radius: 6px;
	--tooltip: "Banned Again Lamo";

	--user-accent: rgb(201, 174, 98);

}

#app-mount .avatar-2e8lTP[src*=''] + h2::after,
*[aria-label^="Joshua Malava"],
*[src*=''] {

	--user-badge: url("https://itsjustjoshdev.github.io/src/assets/badges/709808106070081567.png"); /* Supports SVGs */
	--badge-border: 3px solid var(--background-floating);
	--badge-accent: none; /* Badge Color For SVGs */
	--badge-background: var(--background-floating);
	--badge-radius: 6px;

	--tooltip-background: var(--user-accent);
	--tooltip-color: var(--header-primary);
	--tooltip-radius: 6px;
	--tooltip: "a Very Horny Person";

	--user-accent: ;

}
